html { 
    color: white; 
    background-color: black; 
    text-align: center;
    margin-top: 60px; 
    font-family: Arial; } 
    a { 
    color: darkRed; 
    background-color: lightGray; 
    font-family: Trebuchet MS; 
    }
    